img{
  border-style:solid;
  border-radius:10px;
  border-color:red;
  height:200px;
  border-width:5px;
 
}

h1{
  text-align:center;
  
}

body{
  
}

h5{
   width: 100px;
    height: 100px;
    background-image:linear-gradient(red,blue);
    position: relative;
    animation: mymove 15s infinite;
    border-radius:5px;
  }

  @keyframes mymove {
    from {left: 0px;}
    to {left: 400px;}
  }

table.center{
  margin-left: auto; 
  margin-right: auto;

}
 .Home{
  background-image: linear-gradient(
    cadetblue, green);
}

 .FunFact{
   background-image: linear-gradient(
     cadetblue, orange);
}

 .About{
   background-image: linear-gradient(
     cadetblue, green);
   width:200px;
   height:250px;
   border-bottom-color:aliceblue;
   border-top-color: blueviolet;
   border-right-color:dodgerblue;
   border-left-color:deeppink;
}

 .FeedBack{
   background-image: linear-gradient(
     cadetblue, green);

  
}

.links{
  background-image: linear-gradient(
  cadetblue, green); 
}

 a:hover {
  background-color:floralwhite;
  }

 a {
  background-color:black;
  display:inline-block;
  color: darkorange;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius:10px;
  float:center;
}

h4{
  text-align:center;
}

h6{
  text-align:center;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

table, th, td{
border:5px solid black;
text-align: center;
border-radius: 10px;
}